.item {
    position: relative;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.item img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.itemDescription {
    height: 150px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

.bottomSection {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 5px;
    bottom: 5px;
    width: calc(100% - 200px);
}

.price {
    font-size: 32px;
}

.rating {
    display: flex;
    column-gap: 10px;
}

.rating span {
    margin-top: 1px;
}

.priceSection {
    display: flex;
    align-items: center;
    column-gap: 10px;
}