.main, .info, .authPage {
  width: 1280px;
  margin: 0 auto;
  flex-direction: column;
}

.viewType {
  margin-top: 30px;
  display: flex;
  column-gap: 5px;
}

.viewType input{
  display: none;
}

.viewType label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  opacity: .5;
  cursor: pointer;
}

.containerButton {
  background: url(../assets/group.svg);
}

.viewType input:checked + label {
  opacity: 1;
}

.listButton {
  background: url(../assets/list.svg);
}

.itemsContainer {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 50px;
}

.itemsList {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.avatar {
  width: 250px;
  height: 250px;
  border: 2px solid rgb(184, 184, 184);
  font-size: 250px;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  overflow: hidden;
  color: white;
}

.name {
  font-weight: 700;
  margin-top: 10px;
  font-size: 50px;
}

.otherInfo {
  margin-top: 10px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.orders {
  margin-top: 120px;
  font-size: 30px;
  align-self: flex-start;
}

.orderItems {
  padding: 0px 5px 5px 5px;
  width: 1280px;
  display: flex;
  overflow: hidden;
  column-gap: 15px;
  overflow-y: hidden;
}

.orderItem {
  margin-top: 15px;
  display: flex;
  width: 500px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
}

.itemImg {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.authPage {
  margin-top: 50px;
  display: flex;
  width: 500px;
  height: 300px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form h1 {
  margin-top: 10px;
  align-self: center;
}

.formInput label {
  display: inline-block;
  width: 70px;
  text-align: right;
}

.formInput input {
  margin-left: 5px;
  margin-top: 20px;
  transition: .2s ease-in;
  height: 30px;
  width: 200px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  padding-left: 5px;
}

.formInput input:focus {
  transition: none;
  outline: none;
  box-shadow: 0px 0px 3px 1px rgb(80, 191, 255);
}

.formInput input:hover {
  border: 1px solid rgb(80, 191, 255)
}

.submitButton {
  width: 70px;
  height: 30px;
  background-color: rgb(29, 172, 255);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: rgb(80, 191, 255);
}

.registerButton {
  margin-top: 15px;
  border: none;
  background: none;
  text-decoration: underline;
}

.ManageOrders {
  display: flex;
  width: 1280px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.adminButton {
  background: none;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}